<!DOCTYPE html>
<html>
<head>
    <title>Moonlight</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        ul#list_button { margin-top: 50px; }
    </style>
</head>
<body>
    <div class="container" style="max-width:400px">
        <ul id="list_button">
            <a href="{{ url_for('games') }}" class="btn btn-primary btn-lg btn-block">game list</a>
        </ul>
    </div>
</body>
</html>
